@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html {
    --accent-color: #5000ca;
    --accent-color-2: #9000ca;
    --background-color: white;
    --container-background: #e2dcdc;
    --div-background-color: white;
    --icon-color: black;
    --white-hover-color: #ebe8e8;
    --box-shadow: rgb(179, 179, 179);
    --usertext-color: #9000ca;
    --usertext-color2: #5000ca;

    background-size: cover;
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

body.darkTheme, html {
    --accent-color: #6e32c9;
    --accent-color-2: #a02fcc;
    --background-color: #302e2e;
    --container-background: #302e2e;
    --div-background-color: #444242;
    --icon-color: white;
    --white-hover-color: #535151;
    --box-shadow: rgb(71, 70, 70);
    --usertext-color: white;
    --usertext-color2: white;

    background-size: cover;
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

  .label {
    color: white;
    margin-left: 10%;
    padding: 30px; 
    margin-top: 0;
    font-size: 17px;
  }


  header {
    background: #9000ca;
    background: linear-gradient(0deg, rgba(144,0,202,1) 4%, rgba(80,0,202,1) 100%);
    width: 100%;
    height: 290px;
    display: block;
    top: 0;
  }

  header.goot {
    background: rgb(0, 202, 108);
    background: linear-gradient(0deg, rgb(0, 202, 125) 4%, rgb(0, 202, 61) 100%);
    width: 100%;
    height: 290px;
    display: block;
    top: 0;
  }

  .buble {
    background-color: white;
    border-radius: 1rem;
    color: #9000ca;
    padding: 5px;
    font-weight: bold;
    transition: 1.5s;
  }

  .inviteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    animation: opac 1s;
  }
  
  .modal-content {
    background-color: var(--div-background-color);
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 80%;
    border-radius: 1rem;
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: var(--icon-color);
  }

  .Buttons {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0px 0px 1rem 1rem;
  }

  .Discord {
    background-color: #5865F2;
    padding: 12px;
    border-radius: 1rem;
  }

  .Discord i.fab {
    color: white;
  }

  .Discord a {
    color: white;
    font-weight: bolder;
  }

  .Discord:hover {
    background-color: #6c77f0;
  }

  .Revolt {
    background-color: #ff4654;
    padding: 12px;
    border-radius: 1rem;
    cursor: pointer;
  }

  .Revolt i.fas {
    color: white;
  }

  .Revolt a {
    color: white;
    font-weight: bolder;
  }

  .Revolt:hover a:after{
    content: ': Coming Soon';
  }

  .Revolt:hover {
    background-color: #ff5261;
  }

  .Dasboard {
    background-color: #858585;
    padding: 12px;
    border-radius: 1rem;
    cursor: pointer;
  }

  .Dasboard i.fas {
    color: white;
  }

  .Dasboard a {
    color: white;
    font-weight: bolder;
  }

  .Dasboard:hover a:after{
    content: ': Coming Soon';
  }

  .Dasboard:hover {
    background-color: #918f8f;
  }


  .errorMsg {
    background-color: #f87c6b;
    margin: auto;
    border: 1px solid #f87c6b;
    width: 80%;
    border-radius: 1rem;
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bolder;
    animation: slide-down 1s;
    display: none;
  }

  @keyframes slide-down {
    from {
      opacity: 0.2;
      line-height: 0px;
    }
  
    to {
      opacity: 1;
      line-height: 25px;
    }
  }
  
  .send {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    font-weight: bold;
    background-color: #249e4d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0px 0px 1rem 1rem;
  }

  /* .card-pictures {
    padding-left: 120px;
  } */

  .setup {
    /* padding-left: 120px; */
    border-radius: 1rem;
  }

  .IMGText {
    display: flex;
    justify-content: center;
  }

  .MakeCB .Reason {
    font-size: 20px;
    color: var(--icon-color);
  }

  .Card {
    box-shadow: 0px 2px 5px var(--box-shadow);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--div-background-color);
  }

  .Card .textBold {
    color: var(--usertext-color2);
  }
  
  .Card .title {
    color: grey;
    font-size: 18px;
  }
  
  .Card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background: linear-gradient(90deg, rgba(80,0,202,1) 35%, rgba(144,0,202,1) 100%); border-radius: 1rem 0px 0px 1rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0px 0px 1rem 1rem;
  }
  
  .Card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .Card a .fab {
    color: var(--icon-color);
  }

  .Card p {
    color: var(--icon-color);
  }
  
  .Card button:hover {
    opacity: 0.7;
  }

  .navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opac 4s;
  }

  .navButtons .fab {
    color: var(--icon-color);
  }

  @keyframes opac {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .navBut1 {
    background-color: var(--div-background-color);
    width: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem 0px 0px 1rem;
  }

  .navBut1:hover {
    background-color: var(--white-hover-color);
  }

  .navBut2 {
    background-color: var(--div-background-color);
    width: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 0px 1rem 1rem 0px;
  }

  .navBut2:hover {
    background-color: var(--white-hover-color);
  }

  .fab {
    font-size: 25px;
  }

  .hornborder .fas {
    color: var(--usertext-color);
    padding: 1rem;
    font-size: 40px;
    /* border: 1px solid white; */
    background-color: var(--div-background-color);
    border-radius: 1rem 1rem 0px 0px;
    float: left;
  }
  
  .user {
    padding: 1rem;
    /* border: 1px solid white; */
    background-color: var(--div-background-color);
    border-radius: 1rem;
    box-shadow: 0px 2px 5px var(--box-shadow);
  }

  .user p {
    color: var(--icon-color);
  }

  .usertext {
    font-size: 24px;
    font-weight: bold;
    color: var(--usertext-color);
    float: left;
  }

  .postbox {
    padding: 1rem;
  }

  .container {
    width: 100%;
    background-color: var(--container-background);
    border-radius: 1rem;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    font-weight: bold;
    color: white;
  }
  
  .html {width: 80%; background: rgb(80,0,202);
    background: linear-gradient(90deg, rgba(80,0,202,1) 35%, rgba(144,0,202,1) 100%); border-radius: 1rem 0px 0px 1rem;}
  .css {width: 50%; background: rgb(80,0,202);
    background: linear-gradient(90deg, rgba(80,0,202,1) 35%, rgba(144,0,202,1) 100%); border-radius: 1rem 0px 0px 1rem;}
  .js {width: 65%; background: rgb(80,0,202);
    background: linear-gradient(90deg, rgba(80,0,202,1) 35%, rgba(144,0,202,1) 100%); border-radius: 1rem 0px 0px 1rem;}
  
  @media screen and (max-width: 650px) {
  
  .user {
    padding-top: 4rem;
   }
  
  }


  a {
      text-decoration: none;
      color: black;
  }

  h1 {
    color: white;
    float: left;
    margin-top: 0;
    list-style-type: none;
    vertical-align: middle;
    display: table-cell;
    padding: 20px; 
  }



.options {
  color: white;
  float: right;
  margin-top: 0;
  list-style-type: none;
  vertical-align: middle;
  display: table-cell;
  padding: 20px;
}

 /* Three columns side by side */
 .column {
 float: left;
  width: 23.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column1 {
  float: right;
  width: 23.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .column1 {
    width: 100%;
    display: block;
  }

  header {
    height: 350px;
  }
}

.textBold {
  text-align: center;
  color: var(--accent-color);
  font-size: 35px;
  font-weight: bold;
}

.textMed {
  text-align: center;
  color: white;
  font-size: 20px;
}

.animate {
  animation: slide-up 2s;
}

@keyframes slide-up {
  from {
    opacity: 0.2;
    line-height: 200px;
  }

  to {
    opacity: 1;
    line-height: 25px;
  }
}

.pointz {
  color: #ce438f;
  text-align: center;
  font-size: 25px;
}

.warning {
  text-align: center;
  color:  #e71d1d;
  font-size: 45px;
}

.text12 {
  text-align: center;
  color: var(--icon-color);
  font-size: 20px;
}

.alert {
  padding: 20px;
  background-color: #fa7066;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

 /* Slideshow container */
 .slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 1s;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #000000;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  color: white;
  font-size: 24px;
}

/* Add a blue color to the author */
.author {color: rgb(0, 0, 0);} 

.checked {
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: rgb(255, 255, 255);
}

.moto {
  text-align: center;
  color: #5bbdac;
  font-size: 25px;
}

footer {
  width: 100%;
  height: 125px;
  display: block;
  top: 0;
}

.propo {
  color: rgb(95, 90, 90);
  text-align: center;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #00cba9;
  color: white;
  margin-left: 45%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 650px) {
  .chip {
    margin-left: 35%;
  }
}

.quot {
  background-color: #00cba9;
}

.greeen {
  background-color: #00cba9;
}

.chiptext {
  color: white;
}

.greeen1 {
  background-color: #5000ca;
}

.pupul {
  background-color: #5000ca;
}

.propo1 {
  color: rgb(253, 253, 253);
  text-align: center;
}

.quot1 {
  background-color: #5000ca;
}

.textzzz {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
}

.greeen1>a {
  display: inline-flex;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  margin:0 15px;
  font-size: 70px;
  justify-content: center;
  width: 50px;
  height: 50px;
  align-items: center;
  transition: 0.2s;
  margin-left: 48%;
}

.greeen1>a>i {
  transition: 0.8spx;
}

@media screen and (max-width: 650px) {
  .greeen1>a {
    margin-left: 45%;
  }
}

.whitez {
  color: white;
}

.icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .icon {
    float: right;
    margin-top: 0;
    list-style-type: none;
    vertical-align: middle;
    display: table-cell;
    padding: 20px;
    font-size: 26px;
    color: white;
    transition: 1s;
  }

  .icon:hover {
    background-color: #9862e9;
  }

  .options {
    display: none;
  }

  h1 {
    font-size: 26px;
  }

}

.responsive {
  text-align: center;
  background-color: #5000ca;
  width: 100%;
  padding: 50px 0;
  scroll-behavior: au;
  display: none;
}

.lonks {
  color: #ffffff;
  transition: 1s;
  font-size: 24px;
}

.lonks:hover {
  background-color: #38156e;
  padding: 10px;
  border-radius: 1rem;
}

.overlay { 
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden; 
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px;
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #5000ca;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover {
  color: #7a5ca7;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 40px;
  color: #d64141;
}

.overlay .closebtn:hover {
  color: #000000;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 650px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.accordion {
  background-color: #5000ca;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  margin-left: 10%;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #3c107e;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #faf6f6;
  max-height: 0;
  overflow: hidden;
  width: 80%;
  margin-left: 10%;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.hed {
color: #5000ca;
font-size: 24px;
font-weight: bold;
margin-left: 10%;
}

.row {
  margin-top: 1rem;
}

.accordion {
  background-color: #5000ca;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  margin-left: 10%;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #3c107e;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #faf6f6;
  max-height: 0;
  overflow: hidden;
  width: 80%;
  margin-left: 10%;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.hed {
color: #5000ca;
font-size: 24px;
font-weight: bold;
margin-left: 10%;
}

.accordionz {
  background-color: #727fe8;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordionz:hover {
  background-color: #505ba8;
}

.accordionz:after {
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.accordionz .fas {
  float: left;
  font-size: 30px;
  margin-top: 0;
  list-style-type: none;
  vertical-align: middle;
  display: table-cell;
  padding: 20px;
}

@media screen and (max-width: 650px) {
  .accordionz .fas {
    font-size: 25px;
  }

}

.headerdocs {
  background-color: #727fe8;
  width: 100%;
  height: 125px;
  display: block;
  top: 0;
}

.te {
  text-align: left;
}

.helptex {
  float: left;
  color: #727fe8;
  font-size: 25px;
}

.norm {
  font-size: 20px;
  color: black;
  float: left;
}

.bal {
  color: #727fe8;
}
 
.warnr .fas {
  float: left;
  color: #d64141;
  padding-right: 7px;
}

.war {
  color: #d64141;
}

.panel .solid {
border-top: 2px solid #727fe8;
}

@media screen and (max-width: 650px) {
  .helptex {
    font-size: 20px; 
  }

  .war {
    font-size: 15px;
  }

}

.Fact {
  text-align: center;
  font-size: 17px;
  color: var(--icon-color);
}

.ThemeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThemeDiv .Sun {
  background-color: #fccf3d; 
  color: white; 
  font-size: large;
  cursor: pointer;
  width: 5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem 0px 0px 1rem;
}

.ThemeDiv .Sun:hover {
  background-color: #f3c221;
}

.ThemeDiv .Moon {
  background-color: #444242; 
  color: white; 
  font-size: large;
  cursor: pointer;
  width: 5rem;
  padding: 1rem;
  border: none;
  border-radius: 0px 1rem 1rem 0px;
}

.ThemeDiv .Moon:hover {
  background-color: #272626;
}
