@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@900&display=swap');

:root {
    --lightColor: #ff0084;
    --darkColor: #33001b;
    
    --cardBackground: rgba(255, 255, 255, 0.21);
    --cardBoxShadow:  0 4px 30px rgba(0, 0, 0, 0.1);
    --cardBlur: blur(4.3px);
    --cardBorder: 1px solid rgba(255, 255, 255, 0.3);

    --siteBackgroundPc: linear-gradient(to right, var(--darkColor), var(--lightColor));
    --siteBackgroundMobile: linear-gradient(to top, var(--darkColor), var(--lightColor));
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: #141414;
    background-image: var(--siteBackgroundPc);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.items {
    display: flex;
}

.headerCard {
    margin: auto;
}

.headerText {
    position: fixed;
    top: 0%;
    left: 6%;
}

.headerText .titleText {
    color: whitesmoke;
    font-size: 45px;
}

.headerText .descriptionText {
    color: gainsboro;
    font-size: 20px;
}

.cards {
    margin: auto;
    margin-right: 7%;
    margin-bottom: 2rem;
}

.cardsTitle {
    color: whitesmoke;
    font-size: 30px;
}

.card {
    background: var(--cardBackground);
    box-shadow: var(--cardBoxShadow);
    backdrop-filter: var(--cardBlur);
    -webkit-backdrop-filter: var(--cardBlur);
    border: var(--cardBorder);
    height: 260px;
    width: 280px;
    margin-top: 1rem;
    border-radius: 10px;
}

.learn {
    margin-top: 10px;
    margin-right: 7px;
    float: right;
    padding: 7px;
    border: none;
    border-radius: 1rem;
    background: var(--cardBackground);
    box-shadow: var(--cardBoxShadow);
    backdrop-filter: var(--cardBlur);
    -webkit-backdrop-filter: var(--cardBlur);
    border: var(--cardBorder);
}

.learn a {
    color: white;
    text-decoration: none;
}

.cardTitle {
    color: white;
    font-size: 35px;
    margin-top: 6rem;
    margin-left: 1rem;
}

.cardDesc {
    color: #fcfcfc;
    margin-left: 1rem;
    margin-top: -2rem;
    text-overflow: clip;
    font-size: 15px;
}

.userChoices {
    position: fixed;
    top: 12.5rem;
    left: 6%;
}

.userChoice {
    box-shadow: var(--cardBoxShadow);
    backdrop-filter: var(--cardBlur);
    -webkit-backdrop-filter: var(--cardBlur);
    border: var(--cardBorder);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 7px;
}

.ambient {
    box-shadow: var(--cardBoxShadow);
    backdrop-filter: var(--cardBlur);
    -webkit-backdrop-filter: var(--cardBlur);
    border: var(--cardBorder);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.dark {
    box-shadow: var(--cardBoxShadow);
    backdrop-filter: var(--cardBlur);
    -webkit-backdrop-filter: var(--cardBlur);
    border: var(--cardBorder);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}

i.fab {
    color: white;
    font-size: 25px;
}

i.fas {
    color: white;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {

    body,
    html {
        background-color: #141414;
        background-image: var(--siteBackgroundMobile);
        display: flex;
        margin: 0;
    }

    .items {
        display: flex;
        justify-content: center;
    }

    .headerText {
        position: relative;
        margin-top: -700px;
        width: 30vh;
        text-align: left;
        margin-left: 1rem;
    }

    .titleText {
        position: relative;
        top: 0;
        display: flex;
        text-align: left;
    }

    .descriptionText {
        color: white;
        position: relative;
        text-overflow: clip;
        margin-right: 6px;
    }

    .userChoices {
        position: relative;
        margin-top: 120px;
        margin-left: -253px;
        height: 20px;
        width: 195px;
    }

    .cards {
        margin-top: 450px;
        margin-left: -170px;
    }

}
