@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

body, html {
    --accent-color: #bf2c31;
    --accent-color-2: #48447c;
    --white-hover-color: #ebe8e8;
    --box-shadow: rgb(71, 70, 70);
    --div-background-color: #2d2a4d;
    --icon-color: white;

    background: #16102c;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

h1 {
    color: white;
    float: left;
    margin-top: 0;
    list-style-type: none;
    vertical-align: middle;
    display: table-cell;
    padding: 20px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .sub-text {
    color: white;
    margin-top: 0;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bolder;
  }

header {
    background: rgba(0, 128, 0, 0);
    display: block;
    width: 100%;
    height: 100px;
    display: block;
    top: 0;
  }

  .bubble {
    background-color: var(--accent-color-2);
    border-radius: 7px;
    color: #ffffff;
    padding: 7px;
    transition: .5s;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    z-index: 2;
  }

  .bubble:hover {
    background-color: #333153;
  }

  .Buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .options {
    color: white;
    align-items: center;
    margin-top: 0;
    list-style-type: none;
    vertical-align: middle;
    display: table-cell;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    z-index: 2;
  }

  .Waves {
   margin-top: -75px;
   margin-bottom: -50px;
   z-index: 1;
  }

  img {
    z-index: 1;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    animation: opac 1s;
    z-index: 3;
  }
  
  .modal-content {
    background-color: var(--div-background-color);
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 80%;
    border-radius: 1rem;
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: var(--icon-color);
    z-index: 3;
  }

  .Buttons-Modal {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
  }

  @keyframes opac {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .Discord {
    background-color: #5865F2;
    padding: 12px;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: .5s;
  }

  .Discord i.fab {
    color: white;
  }

  .Discord a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }

  .Discord:hover {
    background-color: #6c77f0;
  }

  .Email {
    background-color: #ff4654;
    padding: 12px;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: .5s;
  }

  .Email i.fas {
    color: white;
  }

  .Email a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }

  .Email:hover a:after{
    content: ': scalgoon@gmail.com';
  }

  .Email:hover {
    background-color: #ff5261;
  }

  .Blocks a {
    padding: 6px;
    background-color: #48447c;
    box-shadow: var(--box-shadow);
    border-radius: 10%;
  }

  .Github {
    background-color: #4c4d57;
    padding: 12px;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: .5s;
  }

  .Github i.fab {
    color: white;
  }

  .Github a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }

  .Github:hover {
    background-color: #60616d;
  }
