header {
  background-color: #2C2F33;
  width: 100%;
  height: 100px;
  display: block;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 6px 0 rgb(2 2 2 / 28%);
}



body {
  background-size: cover;
  background-color: #2C2F33;
  margin: 0;
  padding: 0;
  
}

.inner-header {
  font-family: system-ui, sans-serif;
  width: 90%;
  height: 1px;
  display: block;
  margin: 0 auto;
}



.logo-container {
  height: 100%;
  display: block;
  margin-left: 35px;
}

.logo img{
  width:100px;
}

.button-right-nav {
  float: right;
  font-family: system-ui, sans-serif;
  vertical-align: middle;
  display: table-cell;
  padding: 20px;
  font-size: 24px;
 font-weight: 100;
}

.button {
  vertical-align: middle;
  display: table-cell;
  padding: 20px;
}

 button {
 background-color: #2C2F33 ;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 cursor: pointer;
 float: right;
 transition: 1s;
 font-size: 24px;
 border-radius: 8px;
}

button:hover {
 color: #27cc9a;
 font-size: 35px;
}


h1 {
 font-family: system-ui, sans-serif;
 color: white;
 margin: 100px;
}

h1 span {
 font-weight: 1000;
}

.cmds {
 width:400px;
}

p {
  font-family: system-ui, sans-serif;
  float: left;
  font-size: 24px;
  color: white;
}


.bio_link {
 color: white;
 text-decoration: none;
 transition: 1s;
}

a {
 color: white;
 text-decoration: none;
 transition: 1s;
}

a:hover {
 color: #27cc9a;
 font-size: 35px;
}



::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #2c2f33;
}


::-webkit-scrollbar-thumb {
  background: #8a95ff;
}


::-webkit-scrollbar-thumb:hover {
  background: #5c6eaf;
}



hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

iframe {
   transition: 1s;
}

iframe:hover {
   padding: 15px 32px;
}
